<h1 class="screen-view">Zagraj w wisielca</h1>
<p class="description">Gra w wisielca to takie nasze koło fortuny, tylko bez koła, za to z szubienicą... :)</p>
<ol>
    <li>Zgadnij słowo</li>
    <li>Przejdź do kolejnego etapu</li>
    <li>Przejdź 5 etapów</li>
    <li>Wygraj!</li>
</ol>
<p class="description">Nie wiesz jak grać; zerknij na <a target="_blank" href="https://en.wikipedia.org/wiki/Hangman_(game)">wikipedię</a> bądź
    <a target="_blank" href="https://www.youtube.com/watch?v=leW9ZotUVYo">youtube'a</a>
</p>
<a class="shouting-link" routerLink="/game">Let's play ▸</a>
